* {
  background-color: #9bc7f3;
}

.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
  
}

p {
  font-size: 16px;
}

.color1 {
  color: #20d6d8;
}

.color2 {
  color: #7be4e5;
}

.color3 {
  color: #123507;
}

.color4 {
  color: #396207;
}

.color5 {
  color: #b99135;
}

.card {
  background-color: #F3F3F3;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin-bottom: 16px;
}

.card:nth-child(2n) {
  background-color: #EAEAEA;
}

.card:nth-child(3n) {
  background-color: #D7D7D7;
}

.card h1 {
  margin-top: 0;
  font-size: 18px;
  color: #333333;
}

.card p {
  margin-top: 8px;
  font-size: 14px;
  color: #666666;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: calc(50% - 20px);
  margin: 10px;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #F3F3F3;
}

.card:nth-child(2n) {
  background-color: #EAEAEA;
}

.card h1 {
  margin-top: 0;
  font-size: 18px;
  color: #333333;
}

.card p {
  margin-top: 8px;
  font-size: 14px;
  color: #020202;
}
